.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.preco {
  font-weight: bold;
  color: var(--ion-color-primary);
}

.label h2 {
  margin: 0;
  font-weight: 600;
}

.label p {
  margin: 4px 0 0;
  font-size: 0.9rem;
  color: var(--ion-color-medium);
}

.btn-icon {
  --color: var(--ion-color-primary);
}
