ion-content ion-toolbar {
  --background: translucent;
}

ion-item {
  --inner-padding-start:0;
  display: flex;
  align-items: center;

}

<<<<<<< HEAD
.avatar{
  width: 7%;
  height: auto;
  min-width: 7%;
  margin-right: 2%;
=======
ion-avatar {
  width: 64px;
  height: 64px;
  margin-right: 12px;
}

ion-avatar .avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
>>>>>>> 158640191f789e7b10bd757da672df186e9450ac
}

.label {
  width: 70%;
}

.label h2 {
  margin: 0;
  font-size: 1rem;
}

.label .preco {
  font-size: 0.85rem;
  color: #666;
}

.btn-icon ion-icon{

  font-size: 2.5rem;
<<<<<<< HEAD
}
=======
}
>>>>>>> 158640191f789e7b10bd757da672df186e9450ac
