<ion-app>
  <ion-menu
    menuId="main-menu"
    contentId="main-content"
    side="start"
    type="overlay"
    class="transparent-menu"
  >
    <ion-header translucent="true">
      <ion-toolbar class="transparent-toolbar">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="none">
        <ion-menu-toggle auto-hide="true">
          <ion-item button routerLink="/tabs/tab1">
            <ion-icon name="fast-food-outline" slot="start"></ion-icon>
            <ion-label>Lanches</ion-label>
          </ion-item>
          <ion-item button routerLink="/tabs/tab2">
            <ion-icon name="beer-outline" slot="start"></ion-icon>
            <ion-label>Bebidas</ion-label>
          </ion-item>
          <ion-item button routerLink="/tabs/tab3">
            <ion-icon name="cart-outline" slot="start"></ion-icon>
            <ion-label>Meu Pedido</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
